@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #106ab9;
    -webkit-webkit-tap-highlight-color: transparent;
}

header {
    font-size: 30px;
    font-family: 'Caveat', cursive;
    width: 100%;
    height: 130px;
    background: linear-gradient(45deg, #0ac365, #67f4e9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 4px 4px 15px #0ac365, inset -4px -4px 15px #67f4e9, inset 4px 4px 3px #e6e6e6c5, inset -4px -4px 3px #e6e6e6c5, inset 2px 2px 2px #4444449a, inset -2px -2px 2px #4444449a;
}

header>img {
    width: 100px;
    border-radius: 50%;
    animation: movelogo 1s linear infinite;
}

header>h1 {
    left: 110px;
}

@keyframes movelogo {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    80%,
    100% {
        transform: translateY(20px);
    }
}

.container {
    width: 100%;
}

.message {
    position: absolute;
    left: 0;
    background: transparent;
    width: 93%;
    margin: 10px;
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.bot_message {
    width: 200px;
    padding: 10px;
    background: #23e2f8;
    border-radius: 0 20px 20px 20px;
    margin-left: 2px;
}

.user_message {
    width: 200px;
    padding: 10px;
    margin-top: 70px;
    background: #18b873;
    border-radius: 20px 0 20px 20px;
    position: absolute;
    right: 0;
}

.bot_msg {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 5px;
}

.bot_img img {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
    background: #19c4b2;
}

.input_bx {
    width: 100%;
    height: 100px;
    background: linear-gradient(70deg, #10b7b9, #0fc786);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_bx .innerbox {
    background: #fff;
    width: 85%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 1.5s;
}

.input_bx .innerbox:hover {
    border: 4px solid #0caadfcc;
}

.innerbox input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: -50px;
    width: 76%;
    height: 35px;
}

input::placeholder {
    color: #474747;
}

input[type="search"] {
    font-size: 17px;
}

.innerbox button {
    margin-right: -75px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #2ec6ee;
    transition: .4s;
    border: 2px solid #808080;
    color: #ffff;
    font-size: 20px;
    outline: none;
}

.innerbox button:active {
    transform: scale(0.8);
    background: #0fa0c6;
}